@include media(min-width $tablet-min-width max-width $tablet-max-width, 6) {
  body{
    padding: 0;
  }

  %content{
    @include span-columns(6);
    @include shift(0);
    margin-bottom: 0;
  }

  %current__service{
    @include span-columns(3);
    @include omega(2n);
  }

  %content-header {
    > .logo {
      @include span-columns(2);
    }

    > .status {
      @include span-columns(4);
      @include omega;
      text-align: right;
    }

    > .eta {
      display: none;
    }
  }
}
