@include media(max-width $mobile-max-width, 3) {
  body{
    padding: 0;
  }

  %content{
    @include span-columns(3);
    @include shift(0);
    margin-bottom: 0;
  }

  %current__service{
    @include span-columns(3);
    @include omega(2n);
  }

  .current{
    margin-bottom: 0 !important;
  }

  .history{
    display: none;
  }

  %content-header {
    height: 160px;

    > .logo {
      @include span-columns(3);
      @include omega;
      text-align: center;
    }

    > .status {
      @include span-columns(3);
      @include omega;
      text-align: center;
    }

    > .eta {
      display: none;
    }
  }
}
