@charset "utf-8";
@import "normalize";
@import 'bourbon';
@import 'neat';
@import "font-awesome";

// Pulled from:
// http://paletton.com/#uid=51l1n0krctGcnORkqzSusloH5aG
$color-warning: #EDC523;
$color-healthy: #4DCA1E;
$color-fail: #E8232D;

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  padding: 100px 0;
  background: #FCFCFC;
}

%content{
  @include span-columns(8);
  @include shift(2);

  border-radius: 3px;
  margin-bottom: 150px;

  .services{
    padding: 25px;
    min-height: 300px;
    background: white;
  }

  .services .current {
    @include outer-container;
  }

  .services .current {
    margin-bottom: 50px;
  }

  .services hr{
    border: none;
    border-bottom: 1px solid #EEE;
    margin: 30px 0;
  }

  footer {
    color: rgba(255, 255, 255, 0.6);
    padding: 25px;
    text-align: center;
  }
}

%content-header{
  color: white;
  height: 80px;

  > .logo {
    @include span-columns(3);
    text-align: left;
    padding: 15px 25px 0 25px;

    .hooroo-svg{
      fill: white;
    }
  }

  > .status {
    @include span-columns(6);
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    padding: 20px;
  }

  > .eta {
    @include span-columns(3);
    text-align: right;
    padding: 30px 25px;
  }
}

.content--fail{
  @extend %content;
  $current-tint: $color-fail;

  border: 1px solid $current-tint;
  header {
    @extend %content-header;
    background: $current-tint;
  }

  footer{
    background: $current-tint;
  }
}

.content--warning{
  @extend %content;
  $current-tint: $color-warning;

  border: 1px solid $current-tint;
  header {
    @extend %content-header;
    background: $current-tint;
  }

  footer{
    background: $current-tint;
  }
}

.content--healthy{
  @extend %content;
  $current-tint: $color-healthy;

  border: 1px solid $current-tint;
  header {
    @extend %content-header;
    background: $current-tint;
  }

  footer{
    background: $current-tint;
  }
}

%current__service{
  @include span-columns(3);
  @include omega(4n);
  text-align: center;
  padding: 15px;
  border: 1px solid #DDD;
  margin-bottom: 15px;
}

.current__service--healthy {
  @extend %current__service;
  border-color: $color-healthy;
  color: $color-healthy;
}

.current__service--warning {
  @extend %current__service;
  border-color: $color-warning;
  color: $color-warning;
}

.current__service--fail {
  @extend %current__service;
  border-color: $color-fail;
  background-color: $color-fail;
  color: white;
}

%current__service__state {
  background: #CCC;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 12px;
}

.current__service__state--unknown {
  @extend %current__service__state;
}

.current__service__state--fail {
  @extend %current__service__state;
  background: $color-fail;
}

.current__service__state--warning {
  @extend %current__service__state;
  background: $color-warning;
}

.current__service__state--healthy {
  @extend %current__service__state;
  background: $color-healthy;
}

.historic__service{
  @include clearfix;
  border-top: 1px solid #EEE;
  padding: 25px 0;

  &:first-of-type{
    border: none;
  }
}

.historic__service__state {
  @include span-columns(0.5);
}

.historic__service__name {
  @include span-columns(3.5);
  font-weight: 500;
}

.historic__service__history {
  @include span-columns(8.5);
  overflow: hidden;
}

.historic__service__history__wrapper{
  float: right;
  height: 16px;
}

%historic__service__history__chit{
  width: 5px;
  height: 16px;
  display: inline-block;
  float: left;
  margin-right: 1px;
}

.historic__service__history__chit--unknown {
  @extend %historic__service__history__chit;
}

.historic__service__history__chit--fail {
  @extend %historic__service__history__chit;
  background: $color-fail;
}

.historic__service__history__chit--warning {
  @extend %historic__service__history__chit;
  background: $color-warning;
}

.historic__service__history__chit--healthy {
  @extend %historic__service__history__chit;
  background: $color-healthy;
}


// Responsive

$small-desktop-max-width: 1280px;
$small-desktop-min-width: 1024px;
$tablet-max-width: $small-desktop-min-width - 1px;
$tablet-min-width: 768px;
$mobile-max-width: $tablet-min-width - 1px;

@include media(min-width $small-desktop-min-width max-width $small-desktop-max-width, 12) {
  %content{
    @include span-columns(10);
    @include shift(1);
  }
}

@import 'tablet';
@import 'mobile'
